:root {
	font-size: 10pt;
}

* {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 120%;
}

h2 {
	font-size: 110%;
}

.slides {
	padding: 1rem;
}

.slide {
	border: #ccc solid 1px;
	border-radius: 0.5rem;
	padding : 1rem;
}

pre {
	border-radius: 0.5rem;
	background-color: #eee;
	padding: 1rem;
	font-family: 'Courier New', Courier, monospace;
}

code {
	color: rgb(25, 25, 114);
	background-color: #cfcfed;
	font-family: 'Courier New', Courier, monospace;
	padding: 0 0.3rem;
	border-radius: 0.3rem
}

td {
	vertical-align: top;
}